body {
    font-family: sans-serif;
    background-color: rgb(247, 247, 247);
    margin: 0;
}

h1 {
    font-size: calc(16px + 20vw);
    line-height: 0.8;
    text-align: justify;
    margin-top: calc(40px + 7vw);
    margin-bottom: calc(1px + 1vw);
}

h2 {
    font-size: calc(15px + 7vw);
    font-weight: 100;
    text-align: end;
    margin-top: calc(10px + 1vw);

    span {
        text-decoration: dotted underline rgb(15, 15, 15);
    }
}

main {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: rgb(30, 30, 30);
}

a {
    color: lightgrey;
    font-size: 20px;
    padding: 8px 0px;
    transition: color 0.2s linear;
    text-decoration: none;
}

a:hover {
    color: green;
}

.info {
    margin: 15px 5px;
    box-shadow: 1px 1px 3px grey;
}

.info.open > p {
    display: block;
}

.info.open > header .chevron {
    transform: rotate(90deg);
}

.info header {
    font-size: calc(12px + 3vw);
    font-weight: bold;
    margin: 5px 0px;
    display: flex;
}

.info p {
    font-size: calc(15px + 2vw);
    color: rgb(20, 20, 20);
    display: none;
    line-height: 1.5;
    padding: 15px;
    margin: 0px;
    background-color: rgb(240, 240, 240);
    color: rgb(20, 20, 20);
}

.chevron {
    height: calc(10px + 0.4vw);
    margin: 5px 10px;
    transition: transform 0.1s linear;
    align-self: center;
}

.open-in-new-tab {
    width: 14px;
    margin: 0;
}

#player {
    align-self: center;
    margin-top: calc(10px + 1vw);
}

#spinner-and-subheading {
    display: grid;
    grid-template-columns: 3fr 7fr;
}

#if-logo {
    width: 60vw;
    margin: 20px;
}

#links {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding-top: 20px;
}
